.button {
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, .5);
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .1);
}

.button_m {
    padding: 10px;
}

.button_s {
    padding: 5px;
}

.button + .button {
    margin-left: 10px;
}

.button:not(:disabled) {
    cursor: pointer;
}

.button_active:not(disabled) {
    border-color: rgba(0, 255, 0, .5);
    color: rgba(0, 255, 0, .5);
}
