.word-japanese {
    padding: 2px;
    background-color: #eee;
    border-radius: 3px;
    color: #cc0000;
    cursor: pointer;
}

.word-japanese:hover {
    background-color: #bbb;
    color: #f00;
}
