.word-japanese {
    padding: 2px;
    text-decoration: none;
    background-color: #eee;
    border-radius: 3px;
    color: #cc0000;
}

.word-japanese:hover {
    background-color: #d6d6d6;
    color: #e50000;
}
