.word-japanese {
    padding: 2px;
    text-decoration: none;
    background-color: #e5ffe5;
    border-radius: 3px;
    color: #009900;
    font-size: 20px;
}

.word-japanese:hover {
    background-color: #ccffcc;
}
