.practice-word {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.practice-translation {
    min-height: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    color: rgba(0, 0, 0, .5);
}

.practice-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.practice-percentage {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, .5);
}
