.practice-word {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.practice-answer {
    min-height: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    color: rgba(255, 255, 255, .8);
    transition: opacity .2s;
}

.practice-answer_hidden {
    opacity: 0;
}

.practice-percentage {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    color: rgba(255, 255, 255, .8);
}
